.SearchResults{
position: absolute;
border-radius: 7px;
    margin-left: 0%;
    margin-top: 2%;
    background-color: rgb(36, 32, 32) !important;
    width: 33rem;
    height: 24rem;
    overflow: auto;
    z-index: 1;
    opacity: 1;
}