.ItemForm{
    width: 20%;
    text-align: left;
}
.search_input{
    width: 170% !important;
    margin-left: -20%;
}
.ItemForm .search{
    background-color: inherit;
    color: white;
    height: 1.5rem; 
    width: 1.5rem;
    border: none;
    position: relative;
}
.css-7ws05s-MuiInputBase-root-MuiInput-root{
    width: 85% !important;
}
.ItemForm input{
    background-color: unset;
    width: 50%;
    height: 3vh;
    margin-left: 3vh;
    margin-right: 2vh;
    border-radius: 5vh;
    padding-left: 2vh;
}
.add_song{
    top: 1.3vh;
    background-size:cover;
    height: 3vh; 
    width: 3vh;
    border: none;
    position: relative;
    
}
.ItemForm button:hover{
    cursor: pointer;
    opacity: 0.5;
    
}