.ItemForm{
    width: 50%;
    text-align: left;
    margin-left: 60%;
}
.ItemForm .search{
    background: #fff url('../../../images/loupe.png') center center/cover no-repeat;
    background-size:cover;
    height: 3vh; 
    width: 3vh;
    border: none;
    position: relative;
    transform: rotate(270deg);
}
.ItemForm input{
    width: 40%;
height: 3vh;
margin-left: 3vh;
margin-right: 2vh;
border-radius: 5vh;
padding-left: 2vh;
}
.add_song{
    top: 1.3vh;
    background: #fff url('../../../images/plus.png') center center/cover no-repeat;
    background-size:cover;
    height: 3vh; 
    width: 3vh;
    border: none;
    position: relative;
    
}
button:hover{
    cursor: pointer;
    opacity: 0.5;
    
}