.playlists_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 10%;
}
.playlists_header{
margin-left: 10%;
font-family: 'Courgette', cursive;

}
.playlist{
    margin-left: 5%;
    text-align: center;
    margin-bottom: 5%;
    cursor: pointer;
}
.playlist:hover{
 opacity: 0.6;
}
.palaylist_img{
    height: 8rem ;
    width: 10rem;
}
.playlist_title{
    font-family: 'Courgette', cursive;
}
