.playlists_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 10%;
}
.playlists_header{
margin-left: 10%;
font-family: 'Courgette', cursive;
}
.mine_con{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: stretch;
    justify-content: flex-start;
    align-items: center;
} 
.add_playlist_icon{
    margin-left: 1%;
}
.add_playlist_icon:hover{
    cursor: pointer;
    opacity: 0.6;
}
.playlist{
    margin-left: 5%;
    text-align: center;
    margin-bottom: 5%;
    cursor: pointer;
}
.playlist:hover{
 opacity: 0.6;
}
.palaylist_img{
    height: 8rem ;
    width: 10rem;
}
.playlist_title{
    font-family: 'Courgette', cursive;
}
.not_connected_user{
    margin-left: 10%;
    margin-top: 3%;
    font-family: 'Courgette', cursive;
display: block;
}
