.SongList{
    position: absolute;
    margin-top: 12%;
   margin-left: 7% ;   
    width: 40%;
    font-family: 'Courgette', cursive;
}  
.SongList .playlist_header {
    display: grid;
    grid-template-columns: 6fr 1fr ;
    /* box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25); */
}
.SongList .add_playlist{
    margin-top: 0;
}
.add_playlist:hover{
    cursor: pointer;
    opacity: 0.5;
    border-radius: 1rem;
}
.SongList .add_container{
    margin-top: 10%;
    margin-left: 10%;
}


h3{
    display: inline;
    font-size: xx-large;
}
.SongList .songs_container{
    margin-top: 0%;
}
.SongList #display{
background:  url("../../../images/down-arrow.png") center center/cover no-repeat;
background-size:cover;
height: 20%; 
width: 20%;
border: none;
margin-top: 40%;
margin-left: 43%;
}
.SongList .hide{
    transform: rotate(180deg);
}