.SongList{
    margin-top: 0%;
   margin-left: 12% ;   
    font-family: 'Courgette', cursive;
    
} 
.play_title{
    margin-left: -5%;
    margin-bottom: 5%;
} 
.song{
    display: flex;
    margin-bottom: 3%;
}
.song_title{
    margin-left:5% ;
}