.About{
    height: 20vh;
    background-color: #e76796bb;
    text-align: center;
    font-family: 'Courgette', cursive;
    margin-top: 5%;
}

.About .created_by{
    font-size: 170%;
    margin-top: 20rem;
}