.About{
    height: 20vh;
    background-color: #62a3a7;
    text-align: center;
    font-family: 'Courgette', cursive;
    margin-top:70%;
}

.About .created_by{
    font-size: 170%;
    margin-top: 20rem;
}