.Song {
    font-family: 'Nanum Gothic', sans-serif;
    line-height: 1.3;
  
}
.Song div{
    width: 90%;
  
}
.Song .playing{
    border: 1px black solid;
}
.Song .name{
    font-size: xx-large;
   
}
.Song span{
    left: 10vh;
}
.description{
    position: relative;
    text-align: left;
    left: 2vh;
}
.buttons{   
    text-align: right;
}
.Song button{
    position: relative;
    right:0% ; 
}
.play_button{
    background: #fff url('../../../images/play.png') center center/cover no-repeat;
    background-size:cover;
    height: 5vh; 
    width: 5vh;
    border: none;
    left: 3vh;
    position: relative;
    
}
.play_button:hover, .remove_button:hover {
    cursor: pointer;
    opacity: 0.6;
}
.remove_button{
    background: #fff url('../../../images/bin.png') center center/cover no-repeat;
    background-size:cover;
    height: 5vh; 
    width: 5vh;
    border: none;
    
}