.Result{
    margin-bottom: 0.6rem; 
    box-shadow: 0 4px 8px 0 rgba(36, 32, 32, 0.918) !important;
    border-radius: 0.7rem;
    margin: 5%;
    font-family: 'Nanum Gothic', sans-serif;
    line-height: 1.3;
    justify-content: space-between;
    align-items:center;
    width: 90% !important;
    cursor: pointer;
}
.Result .play_song:hover{
    opacity: 0.6;
    cursor: pointer;
}
.Result .result_img{
    border-image-slice: 10;
    border-radius: 50%;
    height: 100%;
    width: 50%;
    aspect-ratio: 1 / 1;
}
.Result .title{
    margin-top: -5%;
font-size: large;  
font-family: 'Nanum Gothic', sans-serif;
}
.Result button{
    margin-top: 20%;
}
.Result .description{
    margin-left: 20%;
}
.Result button{
    margin-top: 20%;
}
.addToPlaylist:hover{
    opacity: 0.6;
}