.about_me_conteiner{
    font-family: 'Courgette', cursive;
    margin-left: 10%;
    align-items: center;
    border: 1px solid white;
    padding: 2% 5%;
    width: 70%;
    font-size: 1.3rem;
}
.about_header{
    margin-left: -3%;
}
.about_icon{
    color: white;
    margin-left: 10%;
}
.about_icon:hover{
    cursor: pointer;
    opacity: 0.6;
}
.contact_icons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}
.contact_header{
    display: inline-flex;
}
.more_projects_con{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}
.more_projects{
    display: inline-flex;
}
